In [1]:
import array
arr = array.array('i', [1,2,3])

print(arr)

array('i', [1, 2, 3])

In [3]:
import os
os.mkdir('../test')

In [7]:
# data serialization
import json
data = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
}
json_star = json.dumps(data)
json.loads(json_star)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [9]:
import csv
with open('data.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'City'])
    writer.writerow(['John', 30, 'New York'])
    writer.writerow(['Jane', 25, 'San Francisco'])

with open('data.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['John', '30', 'New York']
['Jane', '25', 'San Francisco']

In [10]:
from datetime import datetime,timedelta
now = datetime.now()
print(now)

2025-09-13 00:12:23.470015

In [13]:
import time
print(time.time())
print(time.ctime())
print(time.asctime())

1757702600.606626
Sat Sep 13 00:13:20 2025
Sat Sep 13 00:13:20 2025

In [18]:
import re
pattern = r'\d+'
text = 'welflknwsd 13 456 789'
# result = re.findall(pattern, text)
result = re.search(pattern, text)
print(result.group())

13