In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('test.db')
conn

In [7]:
curser = conn.cursor()
curser.execute('''
Create table user(
    id integer primary key,
    name text not null,
    email text not null unique,
    password text not null
)
''')
## commit the changes
conn.commit()

In [ ]:
conn.execute('''
insert into user (name,email,password) values('kiran','kiran@k.com','1234')
''')
conn.commit()

In [9]:
conn.execute('''
insert into user (name,email,password) values('kiran1','kiran1@k.com','1234')
''')
conn.commit()

In [14]:
conn.execute('''
select * from user
''').fetchall()

[(1, 'kiran', 'kiran@k.com', '1234'), (2, 'kiran1', 'kiran1@k.com', '1234')]

In [15]:
## update the data

conn.execute('''
update user set name='kiran2' where id=1
''')
conn.commit()
conn.execute('''
select * from user
''').fetchall()

[(1, 'kiran2', 'kiran@k.com', '1234'), (2, 'kiran1', 'kiran1@k.com', '1234')]

In [16]:
## delete the data

conn.execute('''
delete from user where id=1
''')
conn.commit()
conn.execute('''
select * from user
''').fetchall()

[(2, 'kiran1', 'kiran1@k.com', '1234')]