In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student.csv')
print(df)

     StudentID         Name  Age Gender        Department  Math  Physics  \
0         1001     Student1   24      M  Computer Science    60       46
1         1002     Student2   21      F           Biology    52       43
2         1003     Student3   22      M  Computer Science    60       76
3         1004     Student4   24      M  Computer Science    47       95
4         1005     Student5   20      M  Computer Science    85       40
..         ...          ...  ...    ...               ...   ...      ...
995       1996   Student996   23      F       Mathematics    78       75
996       1997   Student997   18      F  Computer Science    73       86
997       1998   Student998   24      M         Chemistry    95       80
998       1999   Student999   21      M  Computer Science    67       44
999       2000  Student1000   23      F       Mathematics    76       52

     Chemistry  Attendance       City
0           62          84      Delhi
1           97          69     Mumbai
2           89          81      Delhi
3           69          78      Delhi
4           76          60     Mumbai
..         ...         ...        ...
995         83          97     Mumbai
996         44          82    Kolkata
997         62          84  Bangalore
998         80          66     Mumbai
999         98          81    Kolkata

[1000 rows x 10 columns]