In [2]:
import pandas as pd

In [2]:
# series (pandas series is like a one-dimensional array)
data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data)
print(data.values)
print(data.index)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [ ]:
# create series from dicct

data= {'a':1,'b':2,'c':3}

data = pd.Series(data)
print(data.keys())

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
data = [10,20,30]
index = ['a','b','c']
mydict = pd.Series(data=data,index=index)
print(mydict)

10

In [ ]:
## data frame


data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)
print(df)

   A  C
0  1  7
1  2  8
2  3  9

In [18]:
import numpy as np
np.array(df)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [ ]:
## create a data frame a list of dictionaries
data = [
    {
        'A': 1,
        'B': 4,
        'C': 7
    },
    {
        'A': 2,
        'B': 5,
        'C': 8
    },
    {
        'A': 3,
        'B': 6,
        'C': 9
    }
]

df = pd.DataFrame(data)
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
# for i in range(5):
#     pd.read_csv('student.csv')

df = pd.read_csv('student.csv')
print(df['Name'])
print(type(df['Name']))

0         Student1
1         Student2
2         Student3
3         Student4
4         Student5
          ...
995     Student996
996     Student997
997     Student998
998     Student999
999    Student1000
Name: Name, Length: 1000, dtype: object
<class 'pandas.core.series.Series'>

In [6]:
df.iloc[1][4]

/tmp/ipykernel_7143/163208711.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[1][4]

'Biology'

In [9]:
df.at[2,'Department']

'Computer Science'

In [22]:
df['tech'] = [f"lang{x}" for x in range(1000)]
df.drop('tech',axis=1)
df['Name'][0] = 'kishan'
df.update(df['Name'][0] == 'kishan')

/tmp/ipykernel_7143/3349723367.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Name'][0] = 'kishan'
/tmp/ipykernel_7143/3349723367.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'][0] = 'kishan'

ValueError: DataFrame constructor not properly called!

In [24]:
df['Age'] = df['Age'] + 1
df

,StudentID,Name,Age,Gender,Department,Math,Physics,Chemistry,Attendance,City,tech
0,1001,kishan,26,M,Computer Science,60,46,62,84,Delhi,lang0
1,1002,Student2,23,F,Biology,52,43,97,69,Mumbai,lang1
2,1003,Student3,24,M,Computer Science,60,76,89,81,Delhi,lang2
3,1004,Student4,26,M,Computer Science,47,95,69,78,Delhi,lang3
4,1005,Student5,22,M,Computer Science,85,40,76,60,Mumbai,lang4
...,...,...,...,...,...,...,...,...,...,...,...
995,1996,Student996,25,F,Mathematics,78,75,83,97,Mumbai,lang995
996,1997,Student997,20,F,Computer Science,73,86,44,82,Kolkata,lang996
997,1998,Student998,26,M,Chemistry,95,80,62,84,Bangalore,lang997
998,1999,Student999,23,M,Computer Science,67,44,80,66,Mumbai,lang998
999,2000,Student1000,25,F,Mathematics,76,52,98,81,Kolkata,lang999